@import "/src/App.scss";
.services{
    &_header{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        &_section{
          
            &_img{
                img{
                    object-fit: cover;
    width: 100%;
    height: 100%;
                }
   
            }
            h6{
                text-align: center;
        padding-top: 14px;
        font-size:  clamp( 18px ,4vw,22px);
        color: $AcademyBlue;
        
        margin-bottom: 11px;
            }
        }
    }
   
}