@import "/src/App.scss";
@import "/src/pages/footer/footer.scss";

.App-header {
  background-color: #f6f7fa;
  min-height: 8vh;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  z-index: 5;
}

.list-header {
  list-style-type: none;
  margin: 20px;
  margin-bottom: 0px;

}

 .listItem {
  float: left;
  margin-bottom: 0px;
  padding-bottom: 25px;
}

.active {
  // @if Selected {
  border-bottom: solid;
  border-color: #1a44c4;
  // }
}


.link {
  color: #240ea3;
  margin: 20px;
  font-size: medium;
  text-decoration: none;

  :active {
    border-bottom: solid;
    border-color: #1a44c4;
  }

}

.button-header {
  color: #f7f6fa;
  margin: 20px;
  background-color: #eef07c;
  padding: auto;
  border-radius: 15px;
  font-size: large;
}

.header-div {
  margin: 8px;
  color: #240ea3;
  border-left: solid;
  border-color: black;
  font-size: medium;
}

.container1 {
  margin: 10px;
  display: inline-block ;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin-bottom: 6px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.magaMenu {
  position: fixed;
  top: 75px;
  max-height: calc( 100vh - 83px);
  right: 10vw;
  overflow: auto;
  width: 80dvw;
  margin: auto;
  display: flex;
  justify-content: center;
  background: $white;
  z-index: 33;
  box-shadow: 0 3px 6px #00000024;
  border-radius: 20px;
  padding: 20px;
  flex-wrap: wrap;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    color: $DarkMidnightBlue;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 600;
    min-width: 200px;
    margin: 0;
  }
  &_inside {
    &_card_head {
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      @media screen and (max-width:991px) {
        display: none;
        
    }
      &_sec {
        text-align: center;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #003d81;
        margin-top: 8px;
        border: 1px solid #f99300;
        padding: 17px 10px;
        border-radius: 16px;
        font-size: 12px;

        img {
          object-fit: none;
        }
      }
    }
    &_icon{
        display: flex;
        align-items: center;
        gap: 10px;
        padding-top: 8vh;
        flex-wrap: wrap;
        .sigi_section_icons{
           
            span{
                @include socIcon($DarkMidnightBlue);
                background-color: $DarkMidnightBlue;
            }
        }
    }
  }
}